.inputform{
    padding-top: 10px;
    padding-block-end: 4px;
    --slds-c-input-radius-border:20px 20px 20px 20px;
    --slds-c-input-color-border:	
    rgb(27, 150, 255);
}

.opacity{
    opacity: 50%;
}

.slds-box {
    border: medium double rgb(243, 243, 243);
    border-collapse:separate;
    border-spacing: 15px 50px;
}

.sldsfont {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.slds-button_font{
    font-size: medium;
    font-family:Arial, Helvetica, sans-serif;
}

:host{
    --lwc-inputStaticFontSize: 15px;
    --lwc-inputStaticFontWeight: bold;
 }